.layout{
  
}

.nav-down{
color: white;
font-size: 20px;
margin-left: -10%;
margin-top: 10%;




}
.logo-img{
margin-left: 100%;
width:150% ;
height: 80px;
}
#last-one{
  margin-right: 80%;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  padding:3% 0 5% 0;
 
}

#login{
  background-color: rgba(60, 82, 104, 0.736);
  padding-left: 2%;
  padding-bottom:1% ;
  border-radius: 8%;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-text{
  font-size: 50px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  margin-left: 250px;
  font-weight:700;
  
}

.nav-links{
  display: flex;
  margin-right: 200px;
  
}

.nav-links li{
  margin-left: 1rem;
  list-style: none;
  display: flex;
}

.nav-links a{
  font-size: 25px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-right: 1rem;
}

.nav-links a:hover{
  color: black;
}

a.btn{
  border: 2px solid white;
  border-radius: 5px;
  margin-left: 1rem;
  font-weight: 500;
  padding: 5px 8px;
}

a.btn-dark{
  border: 2px solid color white;
  background: transparent;
}

a.btn-light{
  border: 2px solid color transparent;
 background: rgba(12, 12, 21, 0.326);
}

img{
  height: 50px;
}


.navbar .menu-icons{
  display: none;
}
@media (max-width: 480px) {
  .logo-text {
    display: none;
  }
  .logo-img{
    display: none;
  }
  .nav-links {
    display: none;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav-down {
    margin-top: 0;
  }

  .logo-img {
    margin-left: 0;
  }

  /* Additional styles for mobile navigation */
  .navbar {
    height: auto;
    padding: 2rem 0;
  }

  .menu-icons {
    display: block;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-links a {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

/* Responsive styles for screen size >= 768px and <= 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    justify-content: space-between;
  }
 .logo-img{
    display: none;
  }
  /* Additional styles for tablet layout */
  .nav-links {
    margin-right: 40px;
  }

  .nav-links a {
    font-size: 20px;
  }
}

/* Responsive styles for screen size >= 1025px and <= 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
  /* Add any specific styles for this screen size if needed */
}

/* Responsive styles for screen size >= 1281px */
@media (min-width: 1281px) {
  /* Add any specific styles for this screen size if needed */
}